__history
*.~*
source/dcu/*.*
release/bin/log.txt
/source/dcu
/release/bin/Project_87.rsm
/release/bin/Project_87.exe
/source/Project_87.dpr.bak
/source/Project_87.dproj.local
/source/Project_87.identcache
/source/Project_87.dsk
/source/Project_87.res
/release/data/gfx/logo_elements/igdc.png
/release/data/gfx/logo_elements/exp/bg-g0000.png
/release/data/gfx/logo_elements/exp/bg-mov-g.png
/release/data/gfx/logo_elements/exp/cog1-g00.png
/release/data/gfx/logo_elements/exp/cog2-g00.png
/release/data/gfx/logo_elements/gear_giant.png
/release/data/gfx/logo_elements/gear_giant.png
/release/data/map/starmap - копия.map
/release/data/map/starmap - копия.map